#contact-page {
  max-width: 60rem;
  margin: 7rem auto;
  padding: 0 1rem;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.contact-line {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact-sub {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #2c2e3e;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-card {
  background: white;
  padding: 1.2rem;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.contact-card h3 {
  margin: 0;
}

.role {
  font-size: 0.9rem;
  color: #777;
  margin: 0.3rem 0;
}

.email {
  font-size: 0.9rem;
  word-break: break-all;
}

.contact-footer {
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #777;
}

/* ===== DARK MODE ===== */
body.dark .contact-sub,
body.dark .contact-footer,
body.dark .role {
  color: #cfd2dc;
}

body.dark .contact-card {
  background-color: #252736;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

body.dark .email {
  color: #e4e6eb;
}
