body{
  background-color: #f6f6f6;
  color:#2c2e3e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}
#logo{
    width:40px;
    height:40px;
    position: fixed;
    top:20px;
    left:20px;
    cursor:pointer;
}
#name{
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.2rem,1vw, 2rem);
  letter-spacing: clamp(0.75rem, 1.5vw, 0.6rem);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}
#title{
    font-size:18px;
    color: #2c2e3e;
    background-color: #f6f6f6;
    position:absolute;
    padding:5px;
    padding-left: 10px;;
    top:28px;
    left:100px;
    border-radius: 5px;
    border: 1px solid #2c2e3e;
}

body.dark #title{
  background-color: #2c2e3e;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
}

#auto{
    font-size: 15px;
    color: #2c2e3e;
    opacity: 0.8;
    position: absolute;
    top:10px;
    right:100px;
}
@media (max-width:1000px){
  #title{
    top:70px;
    left:50%;
    transform: translate(-50%);
  }
  #auto{
    top:95px;
    right:50%;
    transform: translate(50%);
  }
  .page{
    margin-top: 1rem;
  }
}
#editor{
    width: 794px;
    height: 1123px;
    padding: 40px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Times New Roman", serif;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    background: white;
    margin-top:10rem;
    color:black;
}

.pages {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.page {
  width: 794px;
  height: 1123px;
  padding: 40px;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Times New Roman", serif;
  border: 1px solid #ccc;
  resize: none;
  overflow: hidden;
  outline: none;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  color:black;
  margin-bottom: 2rem;
}
.page {
  width: min(90vw, 700px);
  aspect-ratio: 210 / 297;
}

body.dark .page{
  background: #2c2e3e;
  color:#f6f6f6;
  border:1px solid #ccc;
}