#signup{
    height:20rem;
    width:30rem;
    margin:auto;
    border-radius: 30px;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:15rem;
}
#signup-page #name{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.2rem,1vw, 2rem);
  letter-spacing: clamp(0.75rem, 1.5vw, 0.6rem);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}
.button{
    background-color: #f6f6f6;
  width: 100%;
  height: 2.2rem;
  margin-bottom: 1rem;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #34274c;
  color: #2c2e3e;
  font-size: 1rem;
}
